@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --default-gradient: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --hover-gradient: linear-gradient(
    -47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  --primary-bg-color: #1a0b2e;
  --secondary-bg-color: #230e3d;
  --green-color: #00ff88;
  --dark-white: rgba(255, 255, 255, 0.6);
}

body{
  /* background-color: var(--primary-bg-color); */
}
/* shared style  */

.btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: var(--default-gradient);
  padding: 12px 16px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background: var(--hover-gradient);
  transform: scale(1.05);
}

.btn-green {
  font-size: 16px;
  font-weight: 600;
  color: #00ff88;
  background: none;
  padding: 12px 20px;
  border: 1px solid #00ff88;
  border-radius: 1000px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-green:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #00ff88;
}
/* nav bar  */

nav {
  padding: 16px 200px;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd30;
}
nav .logo h2 {
  color: white;
  font-size: 32px;
}
nav .logo span {
  background: var(--default-gradient);
  font-size: 32px;
  background-clip: text;
  color: transparent;
}

nav .menu ul {
  display: flex;
  gap: 32px;
}

nav .menu ul li {
  list-style: none;
}
nav .menu ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

nav .button img {
  vertical-align: middle;
  margin-left: 4px;
}

/* banner section */

#banner {
  background: url('assets/hero-bg.png');
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 101px 0px;
}

#banner .banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.banner-content .banner-image {
  position: relative;
}
.img-circle {
  max-width: 350px;
  max-height: 350px;
}
.img-mic {
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  left: 117px;
  top: 90px;
}
.banner-image .img-new {
  position: absolute;
  top: 0;
  left: 240px;
  animation: scale 1.3s ease-in-out infinite;
}
@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}

.banner-content .banner-text h1 {
  color: white;
  font-weight: 800;
  font-size: 60px;
  margin-top: 40px;
}
.banner-content .banner-text p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-top: 8px;
}
.banner-content .banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.banner-content .banner-button .btn {
  padding: 12px 20px;
}
.banner-content .banner-button img {
  vertical-align: middle;
  margin-right: 8px;
}

/* about section */

#about .about-container {
  background-color: var(--primary-bg-color);
  padding: 50px 200px 120px;
}

.about-container .about-text {
  text-align: center;
  border-bottom: 1px solid #dddddd30;
  margin-bottom: 80px;
}
.about-container .about-text h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.about-container .about-text p {
  color: var(--dark-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  max-width: 800px;
  margin: 0 auto 16px;
}
.about-container .about-text .p-one {
  margin-bottom: 80px;
}

.about-container .about-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  text-align: center;
}

.about-container .about-rating .rating h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--green-color);
}
.about-container .about-rating .rating span {
  color: var(--dark-white);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

/* grid section  */

#grid {
  padding: 120px 200px;
  background-color: var(--secondary-bg-color);
}

#grid .grid-container h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.grid-container .grid-content {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
  gap: 30px;
  grid-template-areas:
    'audio mobile mobile'
    'audio global global'
    'interviews interviews resources';
}

.grid-content .items {
  padding: 40px;
  border-radius: 40px;
  background-color: #35116540;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.grid-content .items img {
  margin-bottom: 16px;
}
.grid-content .items h2 {
  color: white;
  margin-bottom: 16px;
  font-size: 24px;
}
.grid-content .items p {
  color: var(--dark-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

/* grid spans */
.grid-content .audio {
  grid-area: audio;
}
.grid-content .mobile {
  grid-area: mobile;
}
.grid-content .global {
  grid-area: global;
}
.grid-content .interviews {
  grid-area: interviews;
}
.grid-content .resources {
  grid-area: resources;
}

/* feature section */

#feature .feature-container {
  background-color: var(--primary-bg-color);
  padding: 120px 200px;
}

#feature .feature-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.feature-container .feature-videos {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 120px;
}

.feature-videos .videos {
  background-color: #230e3d;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  width: 380px;
}

.videos .video-frame iframe {
  width: 100%;
  border-radius: 24px 24px 0 0;
  height: 200px;
}
.videos .video-title {
  padding: 24px;
}
.videos .video-title h2 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 12px;
}
.videos .video-title p {
  font-size: 16px;
  color: var(--dark-white);
  margin-bottom: 12px;
}

.videos .video-title span {
  font-size: 16px;
  color: var(--green-color);
}
.videos .video-title span img {
  margin-right: 6px;
  vertical-align: middle;
}

.host-container .host-area {
  background-color: #230e3d;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-radius: 24px;
}

.host-area .host-info h2 {
  font-size: 32px;
  color: white;
  margin-bottom: 16px;
}
.host-area .host-info p {
  font-size: 16px;
  color: var(--dark-white);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

.host-info .host-social {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.host-info .host-social div {
  border: 1px solid var(--dark-white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer area */

footer {
  background: url('assets/footer-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 412px;
}

#footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-container .footer-content {
  padding: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.footer-content h1 {
  color: white;
  font-size: 60px;
  font-weight: 900;
}
.footer-content h1 span {
  background: var(--default-gradient);
  background-clip: text;
  color: transparent;
}

.footer-content .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: var(--dark-white);
}
.footer-social .social {
  cursor: pointer;
}
.footer-social img {
  vertical-align: middle;
  margin-right: 8px;
}

.footer-content .copy {
  color: var(--dark-white);
  font-size: 16px;
}